html {
  box-sizing: border-box;
  height: 100vh;
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after {
  /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default but can be overridden as needed */
  box-sizing: inherit;
}

body {
  background-image: linear-gradient(to bottom, #4b5c8b, #2b3c5b);
  min-height: 100%;
  color: #de8fad;
  /* Use a system font, if none are available use any found sans-sarif font */
  font-family: system-ui, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 
    'Helvetica Neue', sans-serif;
  margin: 0;
  font-family: 'Jost', sans-serif;
}

nav {
  background-image: linear-gradient(to bottom, #38476f, #1a2538);
  color: #1a1a1a;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  min-height: 60px;
  text-align: right;
}

.grid-container {
  display: flex;
  justify-content: center;
  align-items: center;
  display: grid;
  grid-template-columns: repeat(5, minmax(200px, 1fr));
  grid-gap: 20px;
  padding: 20px;
  flex-direction: row;
}

.character-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-color: #f1f1f1;
  border: none;
  border-radius: 14px;
  height: 150px;
  text-decoration: none;
  color: #333;
  font-weight: bold;
  font-size: 1.1rem;
  box-shadow: 0px 4px 12px rgba(0, 10, 0, 0.18);
}

.character-box img {
  max-width: 100%;
  max-height: 150px;
  object-fit: cover;
  margin-bottom: 10px;
}

.character-box:hover {
  background-color: #ccc;
  cursor: pointer;
}

#review {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 25px;
  margin-right: 10px;
  margin-left: 20px;
}


#review-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  border: none;
  border-radius: 17px;
  margin: 40px;
  padding: 15px;
  box-shadow: 0px 4px 12px rgba(0, 10, 0, 0.18);
  color: white;
  font-weight: bold;

}

textarea {
  border-radius: 15px;
  padding: 10px;
  font-family: 'Montserrat', sans-serif;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

button {
  font-size: 15px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#logout-x {
  display: flex;
  justify-content: center;
  align-items: center;
}

#edit-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

#new-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

#delete-form {
  display: flex;
  justify-content: center;
  align-items: center;
}

#delete-button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Sigmar', cursive;
  font-size: 15px;
  border: none;
  background-color: rgb(186, 50, 50);
  color: rgb(227, 223, 223);
  width: 25px;
  height: 25px;
  margin-left: 20px;
  margin-right: 20px;
}

#home-icon, #write-icon {
  display: flex;
  justify-content: center;
  align-self: center;
}

a {
  color: #de8fad;
}

#profile-picture {
  border-radius: 18px;
}


.right {
  margin-left: auto;
}
