<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/movies/forms.css" />
<%- include('../partials/nav') %>

<main>
  <% if (user) { %>
    <h1><%= title %></h1>
    <h2>Character's Name</h2>
    <form id="new-form" action="/reviews" method="POST">
      <label>
        <textarea name="content" id="title-input" rows="6" cols="50" placeholder="Write your review here..."></textarea>
      </label>
      <br>
      <br>
      <label>Smash Player Since:
        <input type="number" name="startYear" id="start-year-input" min="1999" placeholder="enter start year">
      </label>
      <br>
      <br>
      <label>Character Tier Level
        <select name="tier" id="tier-level-select">
          <option value="S">S</option>
          <option value="A">A</option>
          <option value="B">B</option>
          <option value="C">C</option>
          <option value="D">D</option>
          <option value="F">F</option>
        </select>
      </label>
      <br>
      <br>
      <label>Add to Favorites?
      <input type="checkbox" name="favChar" id="in-favorites-checkbox" unchecked>
      </label>
      <br>
      <br>
      <button type="submit">Add Review</button>

  </form>
  <% } else { %>
    <h1>Please log in to write a review.</h1>
    <% } %>
</main>

<%- include("../partials/footer") %>