<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <h1>This is the Character's Reviews Page.</h1>
  <a href="/">Landing Page</a><br>
  <a href="/characters/reviews">Character Review Page</a>
  <br>
  <a href="/characters/reviews/new">Create a New Review</a>
  <br>
</main>

<%- include('../partials/footer') %>
