<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <h1>This is the Character Reviews Page.</h1>
  <a href="/">Landing Page</a><br>
  <a href="/characters/reviews">Character Review Page</a>
</main>

<%- include('../partials/footer') %>
